<div class="card text-white bg-dark h-100 p-5 mb-3 rounded-3 shadow">
    <h1>Settings</h1>
    <form style="width: 100%;" action="/settings" method="post">
        <div class="form-group">
            <label for="email">Email ID: </label>
            <input name="email" type="text" class="form-control" id="email" value="amogus"
                required>
        </div>
        <div class="form-group">
            <label for="password">Email Password: </label>
            <input name="password" type="password" class="form-control" id="password"
                value="sussy" required>
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="settingsSubmit">Save Settings</button>
        </div>
    </form>
</div>