<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./modules/header.ejs'); %>
</head>

<body>
    <div class="app">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a id="title" class="navbar-brand notoReg"><%= web.title %></a>
                <a href="https://github.com/joshua-noakes1/<%= web.github %>" target="_blank">
                    <button id="github-btn" class="btn btn-secondary my-2 my-sm-0">Github</button></a>
            </div>
        </nav>
        <br>
        
</body>

</html>