<div id="No-Meet" class="col-4 text-center">
    <div class="card text-white bg-danger mb-3">
        <div class="card-header">Google Meet</div>
        <div class="card-body">
            <h4 class="card-title">No Meetings</h4>
            <p class="card-text">No meetings are saved at this time, one may already be on.</p>
        </div>
        <span>
            <a href="/meeting">
                <button id="github-btn" class="btn btn-primary contentBtn my-2 my-sm-0">Create
                    Meeting</button></a>
        </span>
        <div style="margin: 10px 0 10px 0;"></div>
    </div>
</div>